.Product{
     text-align: center;
     padding: 0px;
     height: 400px;
     width: 250px;
     margin: 0px;
     background-color: hsl(0, 18%, 55%);
     border-radius: 10px;
}
img{
     height: 280px;
     border-radius: 5px;
     width: 250px;
     /* border-top-left-radius : 20px;
     border-top-right-radius: 20px; */
}
.Name{
     padding-left: 8px;
     padding-right: 8px;
     color: black;
     text-align:center;
}
.Price{
     text-decoration:solid !important;
     color:#F1EFF2;
}

